.container-fluid{
    overflow: hidden;
}
form {
  border: 1px solid #dee2e6;
  transition: box-shadow 0.3s ease-in-out;
  margin: 10px;
}
form:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
}
input::placeholder,
textarea::placeholder {
  font-size: 0.9rem;
  color: #6c757d;
}
